In [1]:
# Extension of the Kikuchi_and_Tobe_2022.

# Sources:
# https://databank.worldbank.org/source/world-development-indicators?l=en#
# http://www.cepii.fr/cepii/en/bdd_modele/bdd_modele_item.asp?id=9

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
example_data1 = pd.read_csv("cv_credit_to_gdp01.csv")
# example_data2 = pd.read_csv("cv_credit_to_gdp02.csv")
example_data3 = pd.read_excel("cv_credit_to_gdp.xlsx")
series1 = pd.read_csv("PSeries001.csv")
series2 = pd.read_csv("PSeries002.csv")
series3 = pd.read_csv("PSeries003.csv")
# series4 = pd.read_csv("PSeries004.csv")

In [9]:
example_data1.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', 'time_range01'],
      dtype='object')

In [31]:
list_countries = example_data1["Country Code"].dropna()

In [10]:
example_data1_new = example_data1[['Country Name', 'Series Name',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]']]

In [25]:
example_data1_new.to_csv("cv_credit_to_gdp01_new.csv", index = False)

In [12]:
example_data3

,Indicator Name,Domestic credit to private sector (% of GDP)
0,Long definition,Domestic credit to private sector refers to fi...
1,Source,"International Monetary Fund, International Fin..."
2,Topic,Financial Sector: Assets
3,Periodicity,Annual
4,Aggregation method,Weighted average
5,Statistical concept and methodology,Credit is an important link in money transmiss...
6,Development relevance,Private sector development and investment - ta...
7,Limitations and exceptions,Credit to the private sector may sometimes inc...
8,License URL,https://datacatalog.worldbank.org/public-licen...
9,License Type,CC BY-4.0

In [15]:
series1.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2015 [YR2015]', '2014 [YR2014]', '2013 [YR2013]', '2012 [YR2012]',
       '2011 [YR2011]', '2010 [YR2010]', '2009 [YR2009]', '2008 [YR2008]',
       '2007 [YR2007]', '2006 [YR2006]', '2005 [YR2005]', '2004 [YR2004]',
       '2003 [YR2003]', '2002 [YR2002]', '2001 [YR2001]', '2000 [YR2000]',
       '1999 [YR1999]', '1998 [YR1998]', '1997 [YR1997]'],
      dtype='object')

In [16]:
series1_new = series1[['Country Name', 'Series Name',
       '2015 [YR2015]', '2014 [YR2014]', '2013 [YR2013]', '2012 [YR2012]',
       '2011 [YR2011]', '2010 [YR2010]', '2009 [YR2009]', '2008 [YR2008]',
       '2007 [YR2007]', '2006 [YR2006]', '2005 [YR2005]', '2004 [YR2004]',
       '2003 [YR2003]', '2002 [YR2002]', '2001 [YR2001]', '2000 [YR2000]',
       '1999 [YR1999]', '1998 [YR1998]', '1997 [YR1997]']]

In [26]:
series1_new.to_csv("PSeries001_new.csv", index = False)

In [17]:
series2

,Country Name,Country Code,Series Name,Series Code,2015 [YR2015],2014 [YR2014],2013 [YR2013],2012 [YR2012],2011 [YR2011],2010 [YR2010],...,2006 [YR2006],2005 [YR2005],2004 [YR2004],2003 [YR2003],2002 [YR2002],2001 [YR2001],2000 [YR2000],1999 [YR1999],1998 [YR1998],1997 [YR1997]
0,Australia,AUS,Domestic credit to private sector (% of GDP),FS.AST.PRVT.GD.ZS,136.426211919814,128.501429843187,124.766812516765,121.225676203731,122.181233219046,125.225615145322,...,113.67895724205,108.493571153623,102.667270288144,99.1858405598883,91.2674123532156,88.4223266223037,87.6031276428658,84.1111570226654,79.1133521604834,75.3237370020912
1,Australia,AUS,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.1527359059391,2.57901711177597,2.57875428825342,3.902007806318,2.3913851323057,2.20656631017093,...,2.74063570365783,3.15375271041142,4.21663327252608,3.1113982078941,3.99358986481653,2.04141733816161,3.90117137135968,4.95632450612884,4.61335689242107,3.91283547292693
2,Australia,AUS,Gross capital formation (annual % growth),NE.GDI.TOTL.KD.ZG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Australia,AUS,Gross fixed capital formation (annual % growth),NE.GDI.FTOT.KD.ZG,-3.69219198317936,-1.88898854417221,2.89139544541248,11.6025513488209,3.59983510354527,1.74785835537483,...,8.27362306686727,6.09393092890743,8.73542613656572,12.5665119891739,9.12431242163028,-7.94306444866308,8.09381996826295,4.43928840617878,9.74312978050177,6.63786644561699
4,Australia,AUS,GDP per capita (constant LCU),NY.GDP.PCAP.KN,77397.2701959335,76864.548281997,76058.076293158,75433.2434584873,73878.9716609078,73163.0941709124,...,70431.7341293316,69484.3058706307,68184.9172431141,66129.4250818314,64875.8848968541,63098.203183541,62634.9467507203,60977.0838852782,58736.6420057542,56708.8368763521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,NE.GDI.FTOT.KN,CC BY-4.0,Gross fixed capital formation (constant LCU),Gross fixed capital formation (formerly gross ...,"World Bank national accounts data, and OECD Na...",Economic Policy & Debt: National accounts: Loc...,Annual,varies by country,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
806,NY.GDP.PCAP.CN,CC BY-4.0,GDP per capita (current LCU),GDP per capita is gross domestic product divid...,"World Bank national accounts data, and OECD Na...",Economic Policy & Debt: National accounts: Loc...,Annual,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
807,NE.CON.GOVT.ZS,CC BY-4.0,General government final consumption expenditu...,General government final consumption expenditu...,"World Bank national accounts data, and OECD Na...",Economic Policy & Debt: National accounts: Sha...,Annual,NaN,Weighted average,Gross domestic product (GDP) from the expendit...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
808,NE.TRD.GNFS.ZS,CC BY-4.0,Trade (% of GDP),Trade is the sum of exports and imports of goo...,"World Bank national accounts data, and OECD Na...",Economic Policy & Debt: National accounts: Sha...,Annual,NaN,Weighted average,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
809,NY.GDP.DEFL.KD.ZG,CC BY-4.0,"Inflation, GDP deflator (annual %)",Inflation as measured by the annual growth rat...,"World Bank national accounts data, and OECD Na...",Financial Sector: Exchange rates & prices,Annual,NaN,Median,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
series3.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]', 'time_range01'],
      dtype='object')

In [23]:
series3_new = series3[['Country Name', 'Series Name',
       '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]',
       '2001 [YR2001]', '2002 [YR2002]']]

In [27]:
series3_new.to_csv("PSeries003_new.csv", index = False)

In [1]:
# series4.columns

In [28]:
wgi01 = pd.read_excel("wgidataset_new01.xlsx")

In [32]:
wgi01.columns

Index(['Country/Territory',              'Code',                1996,
                      1997,                1998,                1999,
                      2000,                2001,                2002,
                      2003,                2004,                2005,
                      2006,                2007,                2008,
                      2009,                2010,                2011,
                      2012,                2013,                2014,
                      2015],
      dtype='object')

In [50]:
wgi02 = wgi01[wgi01["Code"].isin(list_countries)].reset_index()
wgi02.columns

Index([            'index', 'Country/Territory',              'Code',
                      1996,                1997,                1998,
                      1999,                2000,                2001,
                      2002,                2003,                2004,
                      2005,                2006,                2007,
                      2008,                2009,                2010,
                      2011,                2012,                2013,
                      2014,                2015],
      dtype='object')

In [53]:
wgi02 = wgi02[['Code',
                      1996,                1997,                1998,
                      1999,                2000,                2001,
                      2002,                2003,                2004,
                      2005,                2006,                2007,
                      2008,                2009,                2010,
                      2011,                2012,                2013,
                      2014,                2015]]

In [61]:
# wgi02.groupby(by = wgi02["Code"]).sum()
wgi02

,Code,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,ARG,0.518067,0.519707,0.521346,0.351819,0.182292,-0.349212,-0.880717,-0.691476,-0.698035,...,-0.614567,-0.635694,-0.702629,-0.830837,-0.742941,-0.701964,-0.897687,-0.928135,-1.066150,-0.876747
1,AUS,1.367597,1.399904,1.432211,1.503912,1.575613,1.498385,1.421156,1.575263,1.711220,...,1.623762,1.684216,1.766018,1.816928,1.695977,1.852123,1.778897,1.791220,1.857373,1.783807
2,AUT,1.658712,1.502587,1.346461,1.410968,1.475476,1.506766,1.538056,1.537136,1.514103,...,1.644411,1.691164,1.606452,1.450019,1.450516,1.376977,1.517165,1.482214,1.482170,1.398648
3,BEL,1.214232,1.110021,1.005811,1.079390,1.152970,1.203575,1.254181,1.281626,1.346416,...,1.329938,1.420544,1.405670,1.310220,1.282815,1.236217,1.222170,1.283747,1.152885,1.283220
4,BGR,-0.184435,0.002244,0.188922,0.194440,0.199957,0.363819,0.527680,0.668375,0.707844,...,0.616540,0.643361,0.734122,0.694785,0.680433,0.552520,0.574711,0.549110,0.585274,0.591456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,URY,0.840243,0.873396,0.906548,0.826126,0.745703,0.651029,0.556355,0.311726,0.299978,...,0.401181,0.380376,0.396924,0.505947,0.599307,0.609196,0.599089,0.715801,0.723711,0.601099
61,USA,1.593102,1.601569,1.610037,1.653079,1.696121,1.623931,1.551741,1.568515,1.559835,...,1.640943,1.493688,1.532458,1.398338,1.443845,1.455097,1.294394,1.260389,1.276289,1.251637
62,VEN,-0.308691,-0.310697,-0.312703,-0.315967,-0.319230,-0.492703,-0.666176,-1.002671,-1.065406,...,-1.208009,-1.443938,-1.372149,-1.559879,-1.563120,-1.402885,-1.444834,-1.529262,-1.740043,-1.845023
63,VNM,-0.602832,-0.606709,-0.610586,-0.626169,-0.641752,-0.704373,-0.766994,-0.637721,-0.556897,...,-0.625980,-0.572599,-0.630676,-0.633366,-0.631919,-0.609959,-0.676630,-0.652517,-0.602058,-0.488063
64,ZAF,0.515014,0.511392,0.507770,0.524357,0.540943,0.637356,0.733768,0.819586,0.692467,...,0.746973,0.595666,0.656967,0.449182,0.445573,0.446406,0.398662,0.380482,0.230834,0.224309

In [67]:
wgi02.loc[0,1996]

0.5180674195289612

In [89]:
wgi03 = pd.DataFrame({"Code": [], "Year": [], "Regulatory_Quality": []})

In [ ]:
for j in range(65):
  for i in range(1996,2016):
    wgi03 = wgi03.append({"Code": wgi02.loc[j,"Code"], "Year": i,
                  "Regulatory_Quality": wgi02.loc[j,i]}, ignore_index=True)

In [92]:
wgi03.to_csv("wgidataset_new02.csv")

CDS data

In [154]:
cds01 = pd.read_excel("Fiscal-space-data_KOSE_new.xlsx")
cds01.columns

Index(['Country Code', 'IMF Country Code', 'Country', 'Country group',
       'Geographical region', 'Income group, as of July 1, 2022',
       'Indicator Type', 'Series Name', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [155]:
cds01["Series Name"].drop_duplicates()

0    5-year sovereign CDS spreads, basis points
Name: Series Name, dtype: object

In [ ]:
cds01_1 = pd.DataFrame({"Country Code": [], "Year": [], "five_yr_CDS": []})
for j in range(len(cds01)):
  for i in range(1997,2016):
    cds01_1 = cds01_1.append({"Country Code": cds01.loc[j,"Country Code"],
                                  "Year": i,
                  "five_yr_CDS": cds01.loc[j,str(i)]},
                  ignore_index=True)

In [173]:
cds01_1.to_csv("Fiscal-space-data_KOSE_new1.csv", index = False)

Human Capital Index

In [188]:
hci = pd.read_excel("pwt91_new.xlsx")
hci01 = hci[hci["year"].isin(list(range(1997,2016)))].reset_index()
# hci01_1 = pd.DataFrame({"Country Code": [], "Year": [], "hc": []})
# for j in range(len(hci01)):
#   for i in range(1997,2016):
#     hci01_1 = hci01_1.append({"Country Code": hci01.loc[j,"countrycode"],
#                   "Year": i,
#                   "hc": hci01.loc[j,i]},
#                   ignore_index=True)

WEO data

In [196]:
weo = pd.read_excel("WEO_Data_new.xlsx")

In [197]:
list(set(weo["Subject Descriptor"].tolist()))

['General government gross debt', 'Total investment']

In [198]:
weo_debt = weo[weo["Subject Descriptor"] == 'General government gross debt'].reset_index()
weo_inv = weo[weo["Subject Descriptor"] == 'Total investment'].reset_index()

In [ ]:
weo_debt_1 = pd.DataFrame({"Country": [], "Year": [], "General government gross debt": []})
for j in range(len(weo_debt)):
  for i in range(1997,2016):
    weo_debt_1 = weo_debt_1.append({"Country": weo_debt.loc[j,"Country"],
                  "Year": i,
                  "General government gross debt": weo_debt.loc[j,i]},
                  ignore_index=True)

In [ ]:
weo_inv_1 = pd.DataFrame({"Country": [], "Year": [], "Total investment": []})
for j in range(len(weo_inv)):
  for i in range(1997,2016):
    weo_inv_1 = weo_inv_1.append({"Country": weo_inv.loc[j,"Country"],
                  "Year": i,
                  "Total investment": weo_inv.loc[j,i]},
                  ignore_index=True)

In [203]:
weo_debt_1.to_csv("WEO_Data_new_debt.csv", index = False)
weo_inv_1.to_csv("WEO_Data_new_inv.csv", index = False)

Dummy of Financial Crisis

In [2]:
dummy01 = pd.read_excel("P_Data_Extract_From_Global_Financial_Development_new.xlsx")

In [3]:
dummy01.columns

Index(['Series Name', 'Country Name', 'Country Code', '1997 [YR1997]',
       '1998 [YR1998]', '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]',
       '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]',
       '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
       '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]',
       '2014 [YR2014]', '2015 [YR2015]'],
      dtype='object')

In [4]:
dummy01.columns = ['Series Name', 'Country Name', 'Country Code', 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015]

In [7]:
dummy01["Series Name"].drop_duplicates()

0    Banking crisis dummy (1=banking crisis, 0=none)
Name: Series Name, dtype: object

In [8]:
dummy01.loc[:,"Series Name"] = "Banking_crisis_dummy"

In [10]:
dummy01.to_csv("P_Data_Extract_From_Global_Financial_Development_new.csv", index = False)

In [11]:
dummy01_1 = pd.read_csv("P_Data_Extract_From_Global_Financial_Development_new01.csv")

In [12]:
dummy01_1.head()

,Series Name,Country Name,Country Code,1997,1998,1999,2000,2001,2002,2003,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Banking_crisis_dummy,East Asia & Pacific (IDA total),DEA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Banking_crisis_dummy,Europe & Central Asia (IDA total),DEC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Banking_crisis_dummy,IBRD only,IBD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Banking_crisis_dummy,IDA total,IDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Banking_crisis_dummy,Latin America & Caribbean (IDA total),DLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
countries_codes = dummy01_1[["Country Name", "Country Code"]]
countries_codes.to_csv("countries_codes.csv", index = False)

In [20]:
dummy01_2 = pd.DataFrame({"Code": [], "Year": [], "Banking_crisis_dummy": []})
for j in range(len(dummy01_1)):
  for i in range(1997,2016):
    dummy01_2 = dummy01_2.append({"Code": dummy01_1.loc[j,"Country Code"],
                                  "Year": i,
                  "Banking_crisis_dummy": dummy01_1.loc[j,str(i)]},
                  ignore_index=True)

In [23]:
dummy01_2.to_csv("P_Data_Extract_From_Global_Financial_Development_new02.csv")

In [24]:
pseries001 = pd.read_csv("PSeries001_new.csv")

In [100]:
pseries002 = pd.read_csv("PSeries002_new.csv")

In [102]:
pseries003 = pd.read_csv("PSeries003_new.csv")
pseries004 = pd.read_csv("PSeries004_new.csv")

In [114]:
imf_data = pd.read_excel("International_Financial_Statistics_IMF_new.xlsx")

In [105]:
# pseries003.head() # only 1997-02
# pseries004.head() # only 1997-02

In [39]:
pseries001.columns

Index(['Country Name', 'Series Name', '2015 [YR2015]', '2014 [YR2014]',
       '2013 [YR2013]', '2012 [YR2012]', '2011 [YR2011]', '2010 [YR2010]',
       '2009 [YR2009]', '2008 [YR2008]', '2007 [YR2007]', '2006 [YR2006]',
       '2005 [YR2005]', '2004 [YR2004]', '2003 [YR2003]', '2002 [YR2002]',
       '2001 [YR2001]', '2000 [YR2000]', '1999 [YR1999]', '1998 [YR1998]',
       '1997 [YR1997]'],
      dtype='object')

In [106]:
pseries002.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '2015 [YR2015]', '2014 [YR2014]', '2013 [YR2013]', '2012 [YR2012]',
       '2011 [YR2011]', '2010 [YR2010]', '2009 [YR2009]', '2008 [YR2008]',
       '2007 [YR2007]', '2006 [YR2006]', '2005 [YR2005]', '2004 [YR2004]',
       '2003 [YR2003]', '2002 [YR2002]', '2001 [YR2001]', '2000 [YR2000]',
       '1999 [YR1999]', '1998 [YR1998]', '1997 [YR1997]'],
      dtype='object')

In [116]:
imf_data.columns

Index(['Country', 'Series Name', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [43]:
pseries001_newcol = ['Country Name', 'Series Name'] + list(range(2015,1996,-1))
pseries001.columns = pseries001_newcol

In [107]:
pseries002_newcol = (['Country Name', 'Country Code', 'Series Name', 'Series Code']
                     + list(range(2015,1996,-1)))
pseries002.columns = pseries002_newcol

In [117]:
imf_data_newcol = ['Country Name', 'Series Name'] + list(range(1997,2016))

In [118]:
imf_data.columns = imf_data_newcol

In [48]:
indices001 = pseries001["Series Name"].drop_duplicates().tolist()
pseries001_1_0 = pseries001[pseries001["Series Name"] == indices001[0]].reset_index()
pseries001_1_1 = pseries001[pseries001["Series Name"] == indices001[1]].reset_index()
pseries001_1_2 = pseries001[pseries001["Series Name"] == indices001[2]].reset_index()
pseries001_1_3 = pseries001[pseries001["Series Name"] == indices001[3]].reset_index()
pseries001_1_4 = pseries001[pseries001["Series Name"] == indices001[4]].reset_index()
pseries001_1_5 = pseries001[pseries001["Series Name"] == indices001[5]].reset_index()
pseries001_1_6 = pseries001[pseries001["Series Name"] == indices001[6]].reset_index()
pseries001_1_7 = pseries001[pseries001["Series Name"] == indices001[7]].reset_index()
pseries001_1_8 = pseries001[pseries001["Series Name"] == indices001[8]].reset_index()
pseries001_1_9 = pseries001[pseries001["Series Name"] == indices001[9]].reset_index()
pseries001_1_10 = pseries001[pseries001["Series Name"] == indices001[10]].reset_index()
pseries001_1_11 = pseries001[pseries001["Series Name"] == indices001[11]].reset_index()

In [108]:
indices002 = pseries002["Series Name"].drop_duplicates().tolist()

In [120]:
indices_imf = imf_data["Series Name"].drop_duplicates().tolist()

In [127]:
indices_imf_0 = imf_data[imf_data["Series Name"] == "International Investment Position, Assets, Portfolio investment, Debt securities [BPM6], US Dollar"].reset_index()

In [129]:
indices_imf_1 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Final Consumption Expenditure, Real, Domestic Currency'].reset_index()
indices_imf_2 = imf_data[imf_data["Series Name"] == 'Balance of Payments, Financial Account, Portfolio investment, Net acquisition of financial assets, Debt securities [BPM6], US Dollar'].reset_index()
indices_imf_3 = imf_data[imf_data["Series Name"] == 'Balance of Payments, Financial Account, Portfolio investment, Net acquisition of financial assets, Equity and investment fund shares [BPM6], US Dollar'].reset_index()
indices_imf_4 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Final Consumption Expenditure, Public Sector (General Government and Public Corporations), General Government, Real, Domestic Currency'].reset_index()
indices_imf_5 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Private Sector (Corporations, Households, and Non-profit Institutions Serving Households), Gross Fixed Capital Formation, Dwellings, Real, Domestic Currency'].reset_index()
indices_imf_6 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Private Sector (Corporations, Households, and Non-profit Institutions Serving Households), Gross Fixed Capital Formation, Machinery and Equipment and Weapon System, Real, Domestic Currency'].reset_index()
indices_imf_7 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Gross Fixed Capital Formation, Real, Domestic Currency'].reset_index()
indices_imf_8 = imf_data[imf_data["Series Name"] == 'International Investment Position, Liabilities, Portfolio investment, Debt securities [BPM6], US Dollar'].reset_index()
indices_imf_9 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Final Consumption Expenditure, Private Sector (Households and Non-profit Institutions Serving Households), Real, Domestic Currency'].reset_index()
indices_imf_10 = imf_data[imf_data["Series Name"] == 'Balance of Payments, Analytic Presentation, Portfolio Investment, Net incurrence of liabilities, Debt Securities (excluding exceptional financing) [BPM6], US Dollar'].reset_index()
indices_imf_11 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Gross Capital Formation, Private Sector (Corporations, Households, and Non-profit Institutions Serving Households), Gross Fixed Capital Formation, Other Buildings and Structures, Real, Domestic Currency'].reset_index()
indices_imf_12 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Final Consumption Expenditure, Private Sector (Households and Non-profit Institutions Serving Households), Households (Individual), Real, Domestic Currency'].reset_index()
indices_imf_13 = imf_data[imf_data["Series Name"] == 'National Accounts, Expenditure, Gross Domestic Product, Final Consumption Expenditure, Public Sector (General Government and Public Corporations), General Government, Collective, Real, Domestic Currency'].reset_index()

In [131]:
# indices002 # PSeries002_new is not so different from PSeries001_new
# indices_imf_13

In [66]:
# pseries001_1_0.head()

In [87]:
pseries001_2_0 = pd.DataFrame({"Country": [], "Year": [],
                indices001[0]: []})

In [ ]:
for j in range(len(pseries001_1_0)):
  for i in range(1997,2016):
    pseries001_2_0 = pseries001_2_0.append({"Country": pseries001_1_0.loc[j,"Country Name"],
                      "Year": i,
                  indices001[0]: pseries001_1_0.loc[j,i]},
                  ignore_index=True)

In [ ]:
pseries001_2_1 = pd.DataFrame({"Country": [], "Year": [],
                indices001[1]: []})
for j in range(len(pseries001_1_1)):
  for i in range(1997,2016):
    pseries001_2_1 = pseries001_2_1.append({"Country": pseries001_1_1.loc[j,"Country Name"],
                      "Year": i,
                  indices001[1]: pseries001_1_1.loc[j,i]},
                  ignore_index=True)

In [ ]:
pseries001_2_2 = pd.DataFrame({"Country": [], "Year": [],
                indices001[2]: []})
for j in range(len(pseries001_1_2)):
  for i in range(1997,2016):
    pseries001_2_2 = pseries001_2_2.append({"Country": pseries001_1_2.loc[j,"Country Name"],
                      "Year": i,
                  indices001[2]: pseries001_1_2.loc[j,i]},
                  ignore_index=True)

In [ ]:
pseries001_2_3 = pd.DataFrame({"Country": [], "Year": [],
                indices001[3]: []})
for j in range(len(pseries001_1_3)):
  for i in range(1997,2016):
    pseries001_2_3 = pseries001_2_3.append({"Country": pseries001_1_3.loc[j,"Country Name"],
                      "Year": i,
                  indices001[3]: pseries001_1_3.loc[j,i]},
                  ignore_index=True)

pseries001_2_4 = pd.DataFrame({"Country": [], "Year": [],
                indices001[4]: []})
for j in range(len(pseries001_1_4)):
  for i in range(1997,2016):
    pseries001_2_4 = pseries001_2_4.append({"Country": pseries001_1_4.loc[j,"Country Name"],
                      "Year": i,
                  indices001[4]: pseries001_1_4.loc[j,i]},
                  ignore_index=True)

pseries001_2_5 = pd.DataFrame({"Country": [], "Year": [],
                indices001[5]: []})
for j in range(len(pseries001_1_5)):
  for i in range(1997,2016):
    pseries001_2_5 = pseries001_2_5.append({"Country": pseries001_1_5.loc[j,"Country Name"],
                      "Year": i,
                  indices001[5]: pseries001_1_5.loc[j,i]},
                  ignore_index=True)

pseries001_2_6 = pd.DataFrame({"Country": [], "Year": [],
                indices001[6]: []})
for j in range(len(pseries001_1_6)):
  for i in range(1997,2016):
    pseries001_2_6 = pseries001_2_6.append({"Country": pseries001_1_6.loc[j,"Country Name"],
                      "Year": i,
                  indices001[6]: pseries001_1_6.loc[j,i]},
                  ignore_index=True)

pseries001_2_7 = pd.DataFrame({"Country": [], "Year": [],
                indices001[7]: []})
for j in range(len(pseries001_1_7)):
  for i in range(1997,2016):
    pseries001_2_7 = pseries001_2_7.append({"Country": pseries001_1_7.loc[j,"Country Name"],
                      "Year": i,
                  indices001[7]: pseries001_1_7.loc[j,i]},
                  ignore_index=True)

pseries001_2_8 = pd.DataFrame({"Country": [], "Year": [],
                indices001[8]: []})
for j in range(len(pseries001_1_8)):
  for i in range(1997,2016):
    pseries001_2_8 = pseries001_2_8.append({"Country": pseries001_1_8.loc[j,"Country Name"],
                      "Year": i,
                  indices001[8]: pseries001_1_8.loc[j,i]},
                  ignore_index=True)

pseries001_2_9 = pd.DataFrame({"Country": [], "Year": [],
                indices001[9]: []})
for j in range(len(pseries001_1_9)):
  for i in range(1997,2016):
    pseries001_2_9 = pseries001_2_9.append({"Country": pseries001_1_9.loc[j,"Country Name"],
                      "Year": i,
                  indices001[9]: pseries001_1_9.loc[j,i]},
                  ignore_index=True)

pseries001_2_10 = pd.DataFrame({"Country": [], "Year": [],
                indices001[10]: []})
for j in range(len(pseries001_1_10)):
  for i in range(1997,2016):
    pseries001_2_10 = pseries001_2_10.append({"Country": pseries001_1_10.loc[j,"Country Name"],
                      "Year": i,
                  indices001[10]: pseries001_1_10.loc[j,i]},
                  ignore_index=True)

pseries001_2_11 = pd.DataFrame({"Country": [], "Year": [],
                indices001[11]: []})
for j in range(len(pseries001_1_11)):
  for i in range(1997,2016):
    pseries001_2_11 = pseries001_2_11.append({"Country": pseries001_1_11.loc[j,"Country Name"],
                      "Year": i,
                  indices001[11]: pseries001_1_11.loc[j,i]},
                  ignore_index=True)

imf data

In [ ]:
imf_0_0 = pd.DataFrame({"Country": [], "Year": [],
                "Portfolio_investment_assets": []})
for j in range(len(indices_imf_0)):
  for i in range(1997,2016):
    imf_0_0 = imf_0_0.append({"Country": indices_imf_0.loc[j,"Country Name"],
                      "Year": i,
                  "Portfolio_investment_assets": indices_imf_0.loc[j,i]},
                  ignore_index=True)

In [ ]:
imf_0_1 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Expenditure_GDP": []})
for j in range(len(indices_imf_1)):
  for i in range(1997,2016):
    imf_0_1 = imf_0_1.append({"Country": indices_imf_1.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Expenditure_GDP": indices_imf_1.loc[j,i]},
                  ignore_index=True)

In [ ]:
imf_0_2 = pd.DataFrame({"Country": [], "Year": [],
                "Portfolio_investment_debt": []})
for j in range(len(indices_imf_2)):
  for i in range(1997,2016):
    imf_0_2 = imf_0_2.append({"Country": indices_imf_2.loc[j,"Country Name"],
                      "Year": i,
                  "Portfolio_investment_debt": indices_imf_2.loc[j,i]},
                  ignore_index=True)

imf_0_3 = pd.DataFrame({"Country": [], "Year": [],
                "Portfolio_investment_equity": []})
for j in range(len(indices_imf_3)):
  for i in range(1997,2016):
    imf_0_3 = imf_0_3.append({"Country": indices_imf_3.loc[j,"Country Name"],
                      "Year": i,
                  "Portfolio_investment_equity": indices_imf_3.loc[j,i]},
                  ignore_index=True)

imf_0_4 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Public_GDP": []})
for j in range(len(indices_imf_4)):
  for i in range(1997,2016):
    imf_0_4 = imf_0_4.append({"Country": indices_imf_4.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Public_GDP": indices_imf_4.loc[j,i]},
                  ignore_index=True)

imf_0_5 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Priv_GDP": []})
for j in range(len(indices_imf_5)):
  for i in range(1997,2016):
    imf_0_5 = imf_0_5.append({"Country": indices_imf_5.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Priv_GDP": indices_imf_5.loc[j,i]},
                  ignore_index=True)

imf_0_6 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Priv_GDP_Machine": []})
for j in range(len(indices_imf_6)):
  for i in range(1997,2016):
    imf_0_6 = imf_0_6.append({"Country": indices_imf_6.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Priv_GDP_Machine": indices_imf_6.loc[j,i]},
                  ignore_index=True)

imf_0_7 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Expenditure_GDP_Gross_Fixed": []})
for j in range(len(indices_imf_7)):
  for i in range(1997,2016):
    imf_0_7 = imf_0_7.append({"Country": indices_imf_7.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Expenditure_GDP_Gross_Fixed": indices_imf_7.loc[j,i]},
                  ignore_index=True)

imf_0_8 = pd.DataFrame({"Country": [], "Year": [],
                "Portfolio_investment_liab": []})
for j in range(len(indices_imf_8)):
  for i in range(1997,2016):
    imf_0_8 = imf_0_8.append({"Country": indices_imf_8.loc[j,"Country Name"],
                      "Year": i,
                  "Portfolio_investment_liab": indices_imf_8.loc[j,i]},
                  ignore_index=True)

imf_0_9 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Priv_GDP_HH": []})
for j in range(len(indices_imf_9)):
  for i in range(1997,2016):
    imf_0_9 = imf_0_9.append({"Country": indices_imf_9.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Priv_GDP_HH": indices_imf_9.loc[j,i]},
                  ignore_index=True)

imf_0_10 = pd.DataFrame({"Country": [], "Year": [],
                "Invest_net_liab": []})
for j in range(len(indices_imf_10)):
  for i in range(1997,2016):
    imf_0_10 = imf_0_10.append({"Country": indices_imf_10.loc[j,"Country Name"],
                      "Year": i,
                  "Invest_net_liab": indices_imf_10.loc[j,i]},
                  ignore_index=True)

imf_0_11 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Priv_GDP_Building": []})
for j in range(len(indices_imf_11)):
  for i in range(1997,2016):
    imf_0_11 = imf_0_11.append({"Country": indices_imf_11.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Priv_GDP_Building": indices_imf_11.loc[j,i]},
                  ignore_index=True)

imf_0_12 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Priv_GDP_HH_NP": []})
for j in range(len(indices_imf_12)):
  for i in range(1997,2016):
    imf_0_12 = imf_0_12.append({"Country": indices_imf_12.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Priv_GDP_HH_NP": indices_imf_12.loc[j,i]},
                  ignore_index=True)

imf_0_13 = pd.DataFrame({"Country": [], "Year": [],
                "Real_Public_GDP_Gov": []})
for j in range(len(indices_imf_13)):
  for i in range(1997,2016):
    imf_0_13 = imf_0_13.append({"Country": indices_imf_13.loc[j,"Country Name"],
                      "Year": i,
                  "Real_Public_GDP_Gov": indices_imf_13.loc[j,i]},
                  ignore_index=True)

In [96]:
pseries001_tables = [pseries001_2_2, pseries001_2_3, pseries001_2_4,
                     pseries001_2_5, pseries001_2_6,
                     pseries001_2_7, pseries001_2_8,
                     pseries001_2_9, pseries001_2_10,
                     pseries001_2_11]

In [152]:
pseries001_merge = pd.merge(pseries001_2_0, pseries001_2_1, on=['Country', 'Year'], how='outer')
for i in range(len(pseries001_tables)):
  pseries001_merge = pd.merge(pseries001_merge, pseries001_tables[i],
                    on=['Country', 'Year'], how='outer')

In [153]:
pseries001_merge

,Country,Year,Domestic credit to private sector (% of GDP),GDP growth (annual %),Gross capital formation (annual % growth),Gross fixed capital formation (annual % growth),GDP per capita (constant LCU),GDP (constant LCU),GDP per capita (constant 2015 US$),Gross fixed capital formation (constant LCU),GDP per capita (current LCU),General government final consumption expenditure (% of GDP),Trade (% of GDP),"Inflation, GDP deflator (annual %)"
0,Australia,1997.0,75.323737,3.912835473,..,6.637866446,56708.83688,1.04475E+12,41550.5511,2.00685E+11,30213.69387,18.26498128,37.98335693,1.274310536
1,Australia,1998.0,79.11335216,4.613356892,..,9.743129781,58736.64201,1.09295E+12,43036.32342,2.20238E+11,31665.58324,18.25939377,39.99405994,1.187133418
2,Australia,1999.0,84.11115702,4.956324506,..,4.439288406,60977.08389,1.14712E+12,44677.89465,2.30015E+11,33031.00573,18.67480544,39.05611309,0.479338835
3,Australia,2000.0,87.60312764,3.901171371,..,8.093819968,62634.94675,1.19187E+12,45892.61037,2.48632E+11,34797.77655,18.46970521,40.96698683,2.560383552
4,Australia,2001.0,88.42232662,2.041417338,..,-7.943064449,63098.20318,1.2162E+12,46232.03825,2.28883E+11,36674.81016,18.47598515,44.25035649,4.620333415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249,Vietnam,2011.0,79.94308882,6.413177689,-4.333385475,-4.77369929,33000375.09,2.92E+15,2135.782152,9.17334E+14,40066965.24,9.980918285,125.2605893,21.41366615
1250,Vietnam,2012.0,75.54939675,5.50454562,2.637879084,2.340041904,34445647.54,3.08E+15,2229.320092,9.388E+14,45618158.01,10.44518703,123.2241255,9.077661531
1251,Vietnam,2013.0,77.55810389,5.553500245,5.912364074,5.850021304,35969328.98,3.25E+15,2327.932657,9.9372E+14,49559854.38,10.91616611,130.8463436,4.03855076
1252,Vietnam,2014.0,80.0010263,6.422246656,9.072625276,9.279978263,37873326.16,3.46E+15,2451.159232,1.09E+15,54113056.69,10.31746118,135.4105118,3.698131973
1253,Vietnam,2015.0,90.39922263,6.987166724,9.629098314,9.800016023,40099467.85,3.70E+15,2595.234979,1.19E+15,56310286.13,10.65491212,144.9142203,-1.716524374

In [99]:
pseries001_merge.to_csv("pseries001_merge_new.csv", index = False)

In [149]:
imf_tables = [imf_0_2, imf_0_3, imf_0_4, imf_0_5, imf_0_6, imf_0_7,
              imf_0_8, imf_0_9, imf_0_10, imf_0_11, imf_0_12,
              imf_0_13]
imf_merge = pd.merge(imf_0_0, imf_0_1, on=["Country", "Year"], how="outer")
for i in range(len(imf_tables)):
  imf_merge = pd.merge(imf_merge, imf_tables[i],
                       on=["Country", "Year"], how="outer")

In [151]:
imf_merge.to_csv("imf_merge_new01.csv", index = False)

In [150]:
imf_merge

,Country,Year,Portfolio_investment_assets,Real_Expenditure_GDP,Portfolio_investment_debt,Portfolio_investment_equity,Real_Public_GDP,Real_Priv_GDP,Real_Priv_GDP_Machine,Real_Expenditure_GDP_Gross_Fixed,Portfolio_investment_liab,Real_Priv_GDP_HH,Invest_net_liab,Real_Priv_GDP_Building,Real_Priv_GDP_HH_NP,Real_Public_GDP_Gov
0,Argentina,1997.0,28683.3046,NaN,732.531,837.926,NaN,NaN,NaN,NaN,63139.536794,NaN,10275.599949,NaN,NaN,NaN
1,Argentina,1998.0,30219.3326,NaN,1067.028,838.535,NaN,NaN,NaN,NaN,72000.478547,NaN,10902.976886,NaN,NaN,NaN
2,Argentina,1999.0,34379.0056,NaN,2172.673,-167.321,NaN,NaN,NaN,NaN,74797.503386,NaN,5993.158071,NaN,NaN,NaN
3,Argentina,2000.0,35146.6736,NaN,-203.032,1455.185,NaN,NaN,NaN,NaN,74801.502946,NaN,1895.732491,NaN,NaN,NaN
4,Argentina,2001.0,1182.2800,NaN,-1142.510,930.614,NaN,NaN,NaN,NaN,32059.083525,NaN,-9746.342234,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249,Tunisia,2011.0,NaN,NaN,0.000,0.000,NaN,NaN,NaN,NaN,52.824652,NaN,0.000000,NaN,NaN,NaN
1250,Tunisia,2012.0,NaN,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
1251,Tunisia,2013.0,NaN,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN
1252,Tunisia,2014.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,Tunisia,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finally, Market Potentials

In [205]:
rmp_01 = pd.read_stata("rmp_cepii.dta")
rmp_02 = pd.read_stata("rmp_ind.dta")

In [217]:
rmp01_new = rmp_01[rmp_01["year"].isin(list(range(1997,2016)))]

In [216]:
# rmp_02[rmp_02["year"].isin(list(range(1997,2016)))] # 3d, more on industry

In [218]:
rmp01_new = rmp01_new.reset_index()

In [221]:
rmp01_new.columns

Index(['index', 'iso', 'year', 'RMP_RV', 'FMP_RV', 'RMP_HM', 'FMP_HM',
       'RMP_IV1', 'RMP_IV2', 'gdpcap', 'avgyrs', 'lrmp_rv', 'lfmp_rv',
       'lrmp_hm', 'lfmp_hm', 'lrmp_iv1', 'lrmp_iv2', 'lgcap'],
      dtype='object')

In [222]:
# np.log(5.893291e+07) # lrmp_rv: Log value

In [224]:
rmp01_new = rmp01_new[["iso","year",'lrmp_rv', 'lfmp_rv',
       'lrmp_hm', 'lfmp_hm']]

In [228]:
rmp01_rmp_rv = rmp01_new[["iso","year",'lrmp_rv']].reset_index()
rmp01_fmp_rv = rmp01_new[["iso","year",'lfmp_rv']].reset_index()
rmp01_rmp_hm = rmp01_new[["iso","year",'lrmp_hm']].reset_index()
rmp01_fmp_hm = rmp01_new[["iso","year",'lfmp_hm']].reset_index()

In [231]:
rmp01_new.to_csv("rmp01_new1.csv", index=False)

In [230]:
rmp01_rmp_rv

      index  iso    year    lrmp_rv
0         0  ABW  1997.0  17.891910
1         1  ABW  1998.0  17.628691
2         2  ABW  1999.0  17.171986
3         3  ABW  2000.0  17.955365
4         4  ABW  2001.0  17.740371
...     ...  ...     ...        ...
1366   1366  ZWE  1999.0  16.540181
1367   1367  ZWE  2000.0  16.785197
1368   1368  ZWE  2001.0  16.476528
1369   1369  ZWE  2002.0  16.504546
1370   1370  ZWE  2003.0  17.009314

[1371 rows x 4 columns]